@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-weight: 400;
}

body {
    background-color: #181c38;
}

.blue {
    color: #34b0be;
}

a {
    color: #FFFFFF;
    text-decoration: none;
    font-size: .8rem;
}

nav {
    padding: 10px;
    margin-top: 20px;
    height: 50px;
    display: flex;
    justify-content: right;
    align-items: center;
}

nav>ul {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: space-evenly;
}

nav>ul>li {
    list-style: none;
    padding-right: 3.5rem;
}

section {
    margin: 2rem;
    display: flex;
    flex-direction: row;
}

div.h2 {
    width: 20rem
}

.soy {
    color:#FFFFFF;
    font-size: 50px;
    border-bottom: 3px solid #FFFFFF;
    padding-bottom: 20px;
}

.nombre {
    color:#34b0be;
    font-size: 100px;
    font-weight: 600;
}

.marketing {
    color:#FFFFFF;
    font-size: 30px;
}

div.right {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-left: auto;
    margin-right: 150px;
}

div.h3-1 {
    width: auto;
}

.años {
    color:#34b0be;
    font-size: 30px;
    font-weight: 600;
}

.h3-2 {
    width: auto;
}

.experiencia {
    color:#FFFFFF;
    font-size: 30px;
}

.redes-sociales {
    margin-top: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.instagram {
    background-color: #d1ceca;
    border-radius: 50%;
    width: 30px;
    height: 30px;
}

.div-instagram {
    order: 1;
    background-color: #d1ceca;
    width: 50px;
    height: 50px;
    border: 10px solid #d1ceca;
    border-radius: 50%;
}

.twitter {
    background-color: #d1ceca;
    border-radius: 50%;
    width: 30px;
    height: 30px;
}

.div-twitter {
    order: 4;
    background-color: #d1ceca;
    width: 50px;
    height: 50px;
    border: 10px solid #d1ceca;
    border-radius: 50%;
}

.linkedin {
    background-color: #d1ceca;
    width: 30px;
    height: 30px;
}

.div-linkedin {
    background-color: #d1ceca;
    width: 50px;
    height: 50px;
    border: 10px solid #d1ceca;
    border-radius: 50%; 
}

div.circulo {
    background-color: #4b4d5a;
    position: absolute;
    z-index: -1;
    margin-top: -18rem;
    margin-left: 28%;
    margin-right: 35%;
    width: 35rem;
    height: 35rem;
    border-radius: 50%;
}

#foto {
    background-color: transparent;
    width: 530px;
    padding-top: 10px;
    padding-left: 90px;
}

.empresas {
    background-color: #4b4d5a;
    margin-top: 12rem;
    margin-right: 19%;
    margin-left: 18%;
    border-radius: 15px;
    height: 180px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.empresas>div {
    margin-left: 40px;
}

div.Google {
    background-color: #d1ceca;
    border-radius: 15px;
    width: 160px;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.Google>img {
    width: 75px;
    height: 75px;
}

div.Amazon {
    background-color: #d1ceca;
    border-radius: 15px;
    width: 160px;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.Amazon>img {
    width: 80px;
    height: 80px;
}

div.Spotify {
    background-color: #d1ceca;
    border-radius: 15px;
    width: 160px;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.Spotify>img {
    width: 70px;
    height: 70px;
}

article>h2 {
    color: #34b0be;
    text-align: center;
    font-size: 45px;
    font-weight: 600;
    margin-bottom: 2rem;
    margin-top: 5rem;
}

article>p {
    color: #FFFFFF;
    text-align: center;
    margin-left: 300px;
    margin-right: 300px;
    margin-bottom: 50px;
}

article>h2 {
    color: #34b0be;
    text-align: center;
    font-size: 45px;
    font-weight: 600;
}